.elementor-widget-nova-event-details {

    .elementor-widget-container {}

    .event-meta {
        display: grid;
        justify-items: start;
        gap: 1rem;
    }

    .event-date,
    .event-time {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: auto;
        gap: 1rem;

        .label {

            min-inline-size: 5rem;
        }
    }

    
}