.elementor-widget-nova-event-list {

    .elementor-widget-container {}

    .event-list {
        display: grid;
        gap: 1rem;

        &.rows {

        }

        &.cols {
            --cols: repeat( 3, 1fr);
            grid-template-columns: var( --cols );
        }
    }

    .event-post {

        display: flex;
        flex-direction: column;
        
        gap: 1rem;

        &-image {
            --image-ratio: 1;
            width: 100%;
            @media ( min-width: 768px ) {
                width: var( --image-size, 100% );
            }
            
            img {
                aspect-ratio: var( --image-ratio );
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        &-body {
            width: 100%;
            @media ( min-width: 768px ) {
                width: var( --body-size, 100% );
            }
            display: flex;
            flex-direction: column;
            align-items: start;
            // display: grid;
            // grid-auto-flow: row;
            // grid-auto-rows: auto;
            gap: 1rem;
        }
        &-title {
            margin: 0;
        }
        &-meta {
            display: grid;
            // grid-template-columns: auto auto;
            gap: 1rem;
            .start {}

            .end {}
        }
        &-content {}
    }

    .rows {
        .event-post {
            @media ( min-width: 768px ) {
                flex-direction: row;
            }
        }
    }
}
