.elementor-widget-map-filter {
    // isolation: auto;
    position: relative;

    // &:has(.e-container) {
    //     isolation: unset !important;
    // }

    .elementor-widget-container {}

    .dialog {
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        isolation: isolate;

        display: flex;
        justify-content: center;
        align-items: center;
        
        &::before {
            position: fixed;
            inset: 0;
            z-index: -1;
            display: flex;
            content: '';
            background-color: rgba(0,0,0,0.75);
        }

        &[hidden] {
            visibility: hidden;
            
            &::before {
                visibility: hidden;

            }
        }

        &-contents {
            position: relative;
            z-index: 99;
            inline-size: 90%;
            max-inline-size: 500px;
            // height: max-content;

            padding: 1rem;
            border-radius: .25rem;
            background-color: #fff;
            border: 1px solid #000;

        }

        &-header {
            padding: .5rem 1rem;
        }
        &-title {
            margin: 0;
        }
        &-content {}
        &-footer {
            display: flex;
            gap: 1rem;
            padding: .5rem 1rem;
        }

    }

    .btn {
        display: inline-block;
        justify-content: center;
        align-items: center;

        padding: .5rem 1rem;
        background-color: #fff;
        border: 1px solid #000;
        border-radius: .25rem;
        font-size: 1rem;
        color: #000;

        cursor: pointer;
    }
    
}


.map-filter-dialog {}

.map-filter-content {
    position: relative;
    
    .form {
        display: grid;
        gap: .5rem;

        .fieldset {
            padding: .5rem 1rem;
            border: 0;
            line-height: 1;
        }

        .legend {
            display: block;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1;
        }

        label {
            display: inline-flex;
            gap: .5rem;
        }

        .form-group {
            position: relative;
            isolation: isolate;

            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }
        .form-input {
            width: 100%;
        }

        .select2 {
            // isolation: isolate;
        }
    }
}

.select2-container {
    z-index: 100000;
}


.select2 {

    &-hidden-accessible {
        order: 0;
        clip: rect(0 0 0 0);
        -webkit-clip-path: inset(50%);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap;
    }

    &-container {

        &--open {

            .select2-dropdown {
                left: 0;
            }
        }
    }

    &-selection {
        &--multiple {
            position: relative;

            display: flex;
            flex-wrap: wrap;
            gap: .25rem;

            padding: .25rem;
            border: 1px solid #000;
            border-radius: .25rem;
            cursor: text;

        }


        &__rendered {
            display: flex;
            flex-wrap: wrap;
            gap: .25rem;

            margin: 0;
            padding: 0;

            list-style: none;

        }
        &__choice {
            position: relative;

            display: flex;
            align-items: center;
            gap: .5rem;

            background-color: #eee;
            padding-block: .25rem;
            padding-inline: .5rem;
            border-radius: .25rem;

            &__remove {
                display: flex;
                justify-content: center;
                align-items: center;

                height: 1.5rem;
                aspect-ratio: 1;
                line-height: 1;
            }
            &__display {
                display: block;
                width: max-content;
            }
        }
    } 
    // selected

    &-search {
        
        &--inline {
            display: inline-flex;
            align-items: center;
        }

        &__field {
            display: inline-block;
            
            padding-block: .5rem;
            height: 1.5em;
            max-width: 100%;
            // vertical-align: bottom;

            background-color: transparent;
            border: none;
            outline: 0;
            box-shadow: none;
            -webkit-appearance: textfield;

            border: none;
            font-size: 100%;
            line-height: 1;
            font-family: sans-serif;
            word-break: keep-all;
            resize: none;
            overflow: hidden;
        }
    }

    &-dropdown {
        display: block;
        position: absolute;
        left: -100000px;
        width: 100%;
        z-index: 1051;
        // display: flex;
        background-color: hsl(0, 0%, 100%);
        border: 1px solid hsl(0, 0%, 66.7%);
        border-top-color: hsl(0, 0%, 66.7%);
        border-top-style: solid;
        border-top-width: 1px;
        border-radius: 4px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        // box-sizing: border-box;

        &--below {}
    } 

    &-results {
        display: block;

        &__options {
            &:not(.select2-results__options--nested) {
            max-height: 200px;
            overflow-y: auto;
            }

            margin: 0;
            padding: 0;
            // display: flex;
            //  flex-direction: column;

            list-style: none;
            
            &--nested {}
        }

        &__option  {
            padding-block: .5rem;
            padding-inline: .5rem;

            
            
            &--group {
                
            }

            &--selectable {
                padding-inline-start: 1rem;

                &:hover,
                &:focus {
                    background-color: #ddd;
                }
            }
 
            // &--selectable 
            &--selected {
                background-color: #ddd;
            }
            &--highlighted {
                background-color: #ddd;
            }

        }

        &__group {
            display: block;
            padding: .25rem;
            background-color: #eee;
            font-size: .75rem;
            font-weight: 700;
        }
    }
}