.elementor-widget-nova-map {

    .elementor-widget-container {}

    .google-map {

        .map {
            min-height: 400px;

            background-color: #eee;
        }

        .gm-style { 
            .gm-style-iw-c {
                background-color: #eee;
                padding: 1.5em;
                
            }
            .gm-style-iw-t::after {
                background: #eee;
            }
    
            .gm-ui-hover-effect {
                height: 40px !important;
                width: 40px !important;
    
                img {
                    height: 20px !important;
                    width: 20px !important;
                }
            }
        }
    

        .infobox {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate( -50%, -50% );
            z-index: 1000;

            background-color: #eee;
            padding: 1em;
            border: 1px solid #777;
            box-shadow: 0 0 1rem 0 rgba(0,0,0,0.25);

            &.open {
                display: block;
            }

            .close {
                position: absolute;
                top: 1px;
                right: 1px;
                display: inline-block;
                width: 2rem;
                height: 2rem;
                padding: .25em;
                background-color: none;
                border: 0;
                cursor: pointer;

                svg {
                    height: 1rem;
                    width: 1rem;
                }
            }

        }

        .poi-body {
            display: grid;
            grid-template-columns: 1fr;
            // @media (min-width: 768px) {
                
            //     max-width: 400px !important;
            // }
            gap: 1em;
            font-size: 1rem;
        
            .poi-image {
                grid-column: 1;

                img {
                    display: block;
                    width: 100%;
                    height: 150px;
                    object-fit: cover;
                    
                    @media (min-width: 768px) {
                        width: 100px;
                        height: 100px;    
                        
                    }
                }
            }

            .poi-content {
                padding-right: 1rem;
            }

            .poi-name,
            .poi-address,
            .poi-link {
                margin-bottom: .25em;
            }

            .poi-name {
                font-weight: 700;
            }

        }

        &.show-image {
            .poi-body {
                grid-template-columns: 100px 1fr;
            }
        }

    }
}