.facilities {

    ul {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat( 3, 1fr );

        padding: 0;
        margin: 0;
        
        list-style: none;
    }

    .facility {
        display: flex;
        gap: 1rem;
        align-items: center;

        &-image {}
        &-icon {
            inline-size: 3rem;
            aspect-ratio: 1;
        }
        
        &-info {
            flex-direction: column;
            gap: .5rem;
        }
        &-label {
            font-size: 1.1rem;
            font-weight: bold;
        }
        &-description {
            font-size: 1rem;
        }
    }
}