.elementor-widget-nova-navigation {

    .elementor-widget-container {}

    .navigation-container {}

    .menu {
        list-style: none;
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: column;
        gap: .5rem;

        &-item {

            a {
                display: block;
                padding: .25rem .5rem;
            }
        } 
    } 
}