.elementor-widget-poi-list {
    
    .elementor-widget-container {}

    ul {
        list-style: none;
    }

    .poi-list {
        --columns: 1;

        display: grid;
        grid-template-columns: repeat( var( --columns, 1 ), 1fr );
        gap: 2rem;

        margin: 0;
        padding: 0;

        list-style: 0;

        @media ( min-width: 768px ) {
            --columns: 2;
        }

        @media ( min-width: 1024px ) {
            --columns: 3;
        }

        &[hidden],
        &.hide {
            overflow: hidden;
            // visibility: hidden;
            max-height: 0;
        }

        .poi {
            display: grid;
            grid-template-columns: 1fr 3fr;
            align-items: center;
            gap: 1rem;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
            cursor: pointer;

            &:hover,
            &:focus {
                img {
                    scale: 1.05;
                }
            }

            &-item {
                &[hidden] {
                    display: none;
                }
            }


            &-image {
                --image-ratio: 5 / 3;
                
                aspect-ratio: var( --image-ratio, 5 / 3 );
                background-color: #eee;
                overflow: hidden;

                img {
                    transition: scale 350ms ease-in-out;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &-body {
                padding-inline: 1rem;
                padding-block: 1.5rem;
            }
            
            &-title {
                color: black;

                a {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: inherit;
                    font-weight: inherit;
                    
                    text-decoration: none;
                }
            }
        }
    }
}