.elementor-widget-nova-event-list .event-list {
  display: grid;
  gap: 1rem;
}
.elementor-widget-nova-event-list .event-list.cols {
  --cols: repeat( 3, 1fr);
  grid-template-columns: var(--cols);
}
.elementor-widget-nova-event-list .event-post {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.elementor-widget-nova-event-list .event-post-image {
  --image-ratio: 1;
  width: 100%;
}
@media (min-width: 768px) {
  .elementor-widget-nova-event-list .event-post-image {
    width: var(--image-size, 100%);
  }
}
.elementor-widget-nova-event-list .event-post-image img {
  aspect-ratio: var(--image-ratio);
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.elementor-widget-nova-event-list .event-post-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
@media (min-width: 768px) {
  .elementor-widget-nova-event-list .event-post-body {
    width: var(--body-size, 100%);
  }
}
.elementor-widget-nova-event-list .event-post-title {
  margin: 0;
}
.elementor-widget-nova-event-list .event-post-meta {
  display: grid;
  gap: 1rem;
}
@media (min-width: 768px) {
  .elementor-widget-nova-event-list .rows .event-post {
    flex-direction: row;
  }
}

/*# sourceMappingURL=event-list-widget.css.map */
