.elementor-widget-nova-event-details .event-meta{display:grid;justify-items:start;gap:1rem}.elementor-widget-nova-event-details .event-date,.elementor-widget-nova-event-details .event-time{display:grid;grid-auto-flow:column;grid-auto-columns:auto;gap:1rem}.elementor-widget-nova-event-details .event-date .label,.elementor-widget-nova-event-details .event-time .label{min-inline-size:5rem}
