.elementor-widget-map-filter {
  position: relative;
}
.elementor-widget-map-filter .dialog {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  isolation: isolate;
  display: flex;
  justify-content: center;
  align-items: center;
}
.elementor-widget-map-filter .dialog::before {
  position: fixed;
  inset: 0;
  z-index: -1;
  display: flex;
  content: "";
  background-color: rgba(0, 0, 0, 0.75);
}
.elementor-widget-map-filter .dialog[hidden] {
  visibility: hidden;
}
.elementor-widget-map-filter .dialog[hidden]::before {
  visibility: hidden;
}
.elementor-widget-map-filter .dialog-contents {
  position: relative;
  z-index: 99;
  inline-size: 90%;
  max-inline-size: 500px;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #fff;
  border: 1px solid #000;
}
.elementor-widget-map-filter .dialog-header {
  padding: 0.5rem 1rem;
}
.elementor-widget-map-filter .dialog-title {
  margin: 0;
}
.elementor-widget-map-filter .dialog-footer {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
}
.elementor-widget-map-filter .btn {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: #000;
  cursor: pointer;
}

.map-filter-content {
  position: relative;
}
.map-filter-content .form {
  display: grid;
  gap: 0.5rem;
}
.map-filter-content .form .fieldset {
  padding: 0.5rem 1rem;
  border: 0;
  line-height: 1;
}
.map-filter-content .form .legend {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
}
.map-filter-content .form label {
  display: inline-flex;
  gap: 0.5rem;
}
.map-filter-content .form .form-group {
  position: relative;
  isolation: isolate;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.map-filter-content .form .form-input {
  width: 100%;
}
.select2-container {
  z-index: 100000;
}

.select2-hidden-accessible {
  order: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.select2-container--open .select2-dropdown {
  left: 0;
}
.select2-selection--multiple {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  padding: 0.25rem;
  border: 1px solid #000;
  border-radius: 0.25rem;
  cursor: text;
}
.select2-selection__rendered {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
.select2-selection__choice {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #eee;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  border-radius: 0.25rem;
}
.select2-selection__choice__remove {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  aspect-ratio: 1;
  line-height: 1;
}
.select2-selection__choice__display {
  display: block;
  width: max-content;
}
.select2-search--inline {
  display: inline-flex;
  align-items: center;
}
.select2-search__field {
  display: inline-block;
  padding-block: 0.5rem;
  height: 1.5em;
  max-width: 100%;
  background-color: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
  border: none;
  font-size: 100%;
  line-height: 1;
  font-family: sans-serif;
  word-break: keep-all;
  resize: none;
  overflow: hidden;
}
.select2-dropdown {
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
  background-color: white;
  border: 1px solid #aaaaaa;
  border-top-color: #aaaaaa;
  border-top-style: solid;
  border-top-width: 1px;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select2-results {
  display: block;
}
.select2-results__options {
  margin: 0;
  padding: 0;
  list-style: none;
}
.select2-results__options:not(.select2-results__options--nested) {
  max-height: 200px;
  overflow-y: auto;
}
.select2-results__option {
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
}
.select2-results__option--selectable {
  padding-inline-start: 1rem;
}
.select2-results__option--selectable:hover, .select2-results__option--selectable:focus {
  background-color: #ddd;
}
.select2-results__option--selected {
  background-color: #ddd;
}
.select2-results__option--highlighted {
  background-color: #ddd;
}
.select2-results__group {
  display: block;
  padding: 0.25rem;
  background-color: #eee;
  font-size: 0.75rem;
  font-weight: 700;
}

/*# sourceMappingURL=map-filter.css.map */
