.facilities ul{display:grid;gap:1rem;grid-template-columns:repeat(3, 1fr);padding:0;margin:0;list-style:none}.facilities .facility{display:flex;gap:1rem;align-items:center}.facilities .facility-icon{inline-size:3rem;aspect-ratio:1}.facilities .facility-info{flex-direction:column;gap:.5rem}.facilities .facility-label{font-size:1.1rem;font-weight:bold}.facilities .facility-description{font-size:1rem}
