.elementor-widget-nova-navigation .menu{list-style:none;margin:0;padding:0;display:flex;flex-direction:column;gap:.5rem}.elementor-widget-nova-navigation .menu-item a{display:block;padding:.25rem .5rem}
