.elementor-widget-poi-list ul {
  list-style: none;
}
.elementor-widget-poi-list .poi-list {
  --columns: 1;
  display: grid;
  grid-template-columns: repeat(var(--columns, 1), 1fr);
  gap: 2rem;
  margin: 0;
  padding: 0;
  list-style: 0;
}
@media (min-width: 768px) {
  .elementor-widget-poi-list .poi-list {
    --columns: 2;
  }
}
@media (min-width: 1024px) {
  .elementor-widget-poi-list .poi-list {
    --columns: 3;
  }
}
.elementor-widget-poi-list .poi-list[hidden], .elementor-widget-poi-list .poi-list.hide {
  overflow: hidden;
  max-height: 0;
}
.elementor-widget-poi-list .poi-list .poi {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.elementor-widget-poi-list .poi-list .poi:hover img, .elementor-widget-poi-list .poi-list .poi:focus img {
  scale: 1.05;
}
.elementor-widget-poi-list .poi-list .poi-item[hidden] {
  display: none;
}
.elementor-widget-poi-list .poi-list .poi-image {
  --image-ratio: 5 / 3;
  aspect-ratio: var(--image-ratio, 5/3);
  background-color: #eee;
  overflow: hidden;
}
.elementor-widget-poi-list .poi-list .poi-image img {
  transition: scale 350ms ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.elementor-widget-poi-list .poi-list .poi-body {
  padding-inline: 1rem;
  padding-block: 1.5rem;
}
.elementor-widget-poi-list .poi-list .poi-title {
  color: black;
}
.elementor-widget-poi-list .poi-list .poi-title a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}

/*# sourceMappingURL=poi-list.css.map */
